.nav{
background-color: rgb(138, 118, 255);
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    border-top: 1px solid black;
}

.nav div {
    height: 90px;
    width: 90px;
    background-color:white;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.nav div:hover{
    background-color: rgba(120, 120, 200, 0.9);
    transform: scale(1.05); 
}

.nav img{
    width: 70%;
}
